@{
    ViewData["Title"] = "Estudios";
}

<div class="caja">
    <h2 class="titulo">Estudios</h2>
    <ul class="lista">
        <li>Bachiller Académico – Colegio Marcelino Champagnat (Graduado en 2020)</li>
        <li>Tecnólogo en Análisis y Desarrollo de Software (ADSO) – SENA, actualmente en 5° semestre</li>
    </ul>
</div>
