@{
    ViewData["Title"] = "Experiencia";
}

<div class="caja">
    <h2 class="titulo">Experiencia</h2>
    <ul class="lista">
        <li>Proyecto académico: Creacion de proyectos en Angular, Java, TypeScript.</li>
        <li>Prácticas en ADSO en el SENA con bases de datos y aplicaciones pequeñas.</li>
        <li>Proyectos personales en programación y páginas web.</li>
    </ul>
</div>

