@{
    ViewData["Title"] = "Habilidades";
}

<div class="caja">
    <h2 class="titulo">Habilidades</h2>

    <h3 class="subtitulo">Habilidades técnicas</h3>
    <ul class="lista">
        <li>Frontend: Angular, HTML y CSS</li>
        <li>Manejo básico de C# y Java</li>
        <li>Bases de datos en SQL</li>
    </ul>

    <h3 class="subtitulo">Habilidades personales</h3>
    <ul class="lista">
        <li>Inglés nivel Basico B1</li>
        <li>Trabajo en equipo</li>
        <li>Responsabilidad</li>
        <li>Adaptabilidad</li>
        <li>interés de aprender</li>
        <li>Creatividad a la Hora de Resolucion de Problemas</li>
    </ul>
</div>
