@{
    ViewData["Title"] = "Hoja de Vida";
}

<div class="caja-principal">
    <h1 class="titulo-centro">Hoja de Vida</h1>
    <hr />

  
    <section class="bloque">
        <h2 class="subtitulo">Perfil</h2>
        <p>
            Soy <strong>Jose Miguel Alzate Loaiza</strong>, tengo 23 años y soy una persona interesada
            por temas que esten involucrados con tecnologia, proactivo y con ddiciplina para adquirir mas experiencia con conocimientos.
        </p>
    </section>

    
    <section class="bloque">
        <h2 class="subtitulo">Información Personal</h2>
        <ul class="lista">
            <li><strong>Nombre:</strong> Jose Miguel Alzate Loaiza</li>
            <li><strong>Edad:</strong> 23 años</li>
            <li><strong>Fecha de nacimiento:</strong> 05 de Noviembre de 2001</li>
            <li><strong>Lugar de nacimiento:</strong> Armenia, Quindío</li>
            <li><strong>Residencia:</strong> Salento, Quindío</li>
        </ul>
    </section>

   
    <section class="bloque">
        <h2 class="subtitulo">Estudios</h2>
        <ul class="lista">
            <li>Graduado en <strong>Colegio Liceo Quindio Salento</strong> – 2019</li>
            <li>Actualmente cursando <strong>5° semestre de Analisis y Desarrollo de software en el Sena</strong> en el SENA</li>
            <li>Tecnologo en Administración de Empresas - INTEP</li>
        </ul>
    </section>

    
    <section class="bloque">
        <h2 class="subtitulo">Experiencia</h2>
        <p>
            Actualmente en proceso de formación de Analisis y Desarrollo de Software,
            interesado en iniciar expericencias laborales en Desarrollo de Software.
        </p>
    </section>

    
    <section class="bloque">
        <h2 class="subtitulo">Habilidades</h2>
        <ul class="lista">
            <li>Responsable y Dedidado</li>
            <li>Capacidad de aprendizaje rápido</li>
            <li>Trabajo en equipo</li>
            <li>Interés en programación y nuevas tecnologías</li>
            <li>Buen manejo de HTML y CSS</li>
            <li>Inglés nivel Basico B1</li>
        </ul>
    </section>
</div>
