@{
    ViewData["Title"] = "Perfil";
}

<div class="caja">
    <h2 class="titulo">Perfil</h2>
    <p class="texto">
        Soy <strong>Miguel Ángel Reyes</strong>, tengo 22 años, nací el 29 de junio de 2003 en Armenia, Quindío,
        y actualmente vivo aquí. Me considero una persona responsable, con ganas de aprender y crecer cada día.
    </p>
</div>
